body {
    font: 18px/30px 'Scope One', Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

a {
    color: #6099A4;
}

.bio-pic {
    border-radius: 30px;
    width: 100px;
}

.icon {
    width: 28px;
}

section {
    text-align: "center";
    padding: "20px";
    margin-bottom: "50px";
    margin-left: "100px";
    font: "18px 'Muli', sans-serif";
}

section p {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

section header {
    text-align: "left";
    font: 72px 'Muli', sans-serif;
    font-weight: "bold";
}

section#mainTitle {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    font: 18px 'Muli', sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    background-image: url("https://images.unsplash.com/photo-1414058862086-136de6c98e99?dpr=1&auto=format&fit=crop&w=1080&h=721&q=80&cs=tinysrgb&crop=");
}

section#mainTitle h1 {
    font-weight: bold;
    font-size: 128px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}

section#mainTitle h5 {
    color: blanchedalmond;
    background-color: rgba(0,0,0,0.5);
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}

section#mainTitle p {
    background-color: rgba(255,255,255,0.8);
    font-weight: bold;
    padding: 5px;
}


section#people {
    padding: 20px;
    background-color: #09283c;
}

div.panel {
    float: left;
    width: 100px;
}

div.clear {
    clear: both;
}

div.panel header {
    font-size: 24px;
    color: blanchedalmond;
}

section#mainTitle h2 {
    color: white;
}

section#timeline, section#events, section#team {
    background: #011124;
    color: lightgray;
}

section#timeline ul {
    list-style: none;
    font-weight: normal;
    /*font-size: 24px;*/
    text-align: left;
}
